# Core functionality - changes here should be rare!
/src/app.py                   @Hari20032005
/src/backend/database.py      @Hari20032005
/src/backend/routers/auth.py  @Hari20032005

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Hari20032005
